ul li { list-style-image: url(../img/bullet.gif); }
.msgnum, .msgnew { text-align: center; }
.table-hover > tbody > tr > td.sepDesc,
.table-hover > tbody > tr > td.sepDesc {
   background-color: #e8e8e8;
   padding-left: 2em;
}
tr.inverse > td,
tr.inverse > th,
.table-hover > tbody > tr.inverse:hover > td,
.table-hover > tbody > tr.inverse:hover > th {
   background-color: #555; color: #fff; text-shadow: 1px 1px #000;
}
#areaList TD { cursor: pointer; }