ul li { list-style-image: url(../img/bullet.gif); }
.msgnum, .msgnew { text-align: center; }
.table-hover > tbody > tr > td.sepDesc,
.table-hover > tbody > tr > td.sepDesc {
   background-color: #e8e8e8;
   padding-left: 2em;
}
tr.inverse > td,
tr.inverse > th,
.table-hover > tbody > tr.inverse:hover > td,
.table-hover > tbody > tr.inverse:hover > th,
tr > td.inverse,
tr > th.inverse,
.table-hover > tbody > tr:hover > td.inverse,
.table-hover > tbody > tr:hover > th.inverse {
   background-color: #555; color: #fff; text-shadow: 1px 1px #000;
}
#areaList tr.areaRow td { cursor: pointer; }
A[data-url] { cursor: pointer; }
.unreadMsg { font-weight: bold; }
.msgNum { text-align: right; }
.msgList .msgRow { cursor: pointer; }

.avatar {
   background-size:     contain;
   background-repeat:   no-repeat;
   background-position: center center;
   padding: 0;
}
.avatar div { margin: 0; padding: 0; border: 0; }
.messageNavigation {
   display: flex;
   align-items: center;
}
.messageNavigation .inner { margin-left: 5px; margin-right: 5px; }
.messageNavigation span { margin-bottom: 1px; }
.messageRelations { margin: 0; padding: 0; border: 0; }
.messageRelations .parent, .messageRelations .nextSibling { white-space: nowrap; }
.kludges { color: #777; }

.imageUUE IMG { max-width: 100%; }
blockquote.fidoQuote, blockquote.fidoQuoteOuter { margin-bottom: 0; }
.monospaceBlock { line-height: 1; }
.monospaceBlock code {
   color: inherit;
   background-color: inherit;
   padding: 0;
}

.originLine { color: #85144b; } /* http://clrs.cc/ maroon */
.tearline { color: #3d9970; } /* http://clrs.cc/ olive */
.tagline { color: #ff851b; } /* http://clrs.cc/ orange */
