ul li { list-style-image: url(../img/bullet.gif); }
.msgnum { text-align: center; }
tr.inverse > td,
tr.inverse > th,
.table-hover > tbody > tr.inverse:hover > td,
.table-hover > tbody > tr.inverse:hover > th {
   background-color: #555; color: #fff; text-shadow: 1px 1px #000;
}